*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Lato', sans-serif;
}

a,a:hover{
	text-decoration: none;
}
/*==================================
nav-bar section code start from here
====================================*/

header{
	position: absolute;
	width: 100%;
}

.nav-sec{
	text-align: right;
	width: 100%;
	z-index: 9;
}

.nav-item{

}
.nav-link{
	color: white !important;
    font-size: 15px !important;
    margin-left: 10px !important;
}

.nav-link:hover{
	color: #ed145b !important;
	transition: 0.2s;
}

/*==================================
banner section code start from here
====================================*/

.banner-sec{
	width: 100%;
	background: url(../img/banner.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 160px 0px;
	position: relative;

}

.banner-content h1{
	font-weight: 300;
	font-size: 46px;
	color: white;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.banner-content h1 span{
	font-weight: 700;
	margin-right: 5px;
}

.banner-line{
	height: 2px;
	width: 80px;
	background: #ed145b;
	margin: auto;
}

.banner-content p{
	color: white;
    font-size: 22px;
    font-weight: 300;
    width: 86%;
    margin: auto;
    margin-top: 20px;
}

.banner-content button{
	font-size: 15px;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    background: #ed145b;
    color: white;
    border: 1px solid #ed145b;
}

.banner-content button:hover{
	background: transparent;
	border: 1px solid #ed145b;
	transition: 0.5s;
}
.banner-sec:before{
	content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 20px;
    background: #ed145b;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    z-index: 9;
}

/*==================================
promo section code start from here
====================================*/

.promo-sec{
	width: 100%;
	background: #f4f4f4;
	padding: 80px 0px 70px 0px;
	text-align: left;
	position: relative;

}

.promo-sec h2{
	font-style: italic;
	font-weight: 300;
	font-size: 36px;
	color: #5a5a5a;
	margin-right: 80px;
}

.promo-sec .banner-line{
	margin: 20px 0px;
}

.promo-sec p{
	font-weight: 300;
    font-size: 15px;
    color: #5a5a5a;
    margin-right: 112px;
    text-align: justify;
}

.promo-sec .promo-p-2{
	color: #ed145b;
	text-transform: uppercase;
	font-weight: 600;
}

.promo-sec .promo-p-2 i{
	margin-left: 5px;
}


.float-div{
	position: absolute;
    width: 56%;
    top: 77px;
    right: 0;
}


/*==================================
service section code start from here
====================================*/

.service-sec{
	width: 100%;
	padding: 120px 0px 60px 0px;
	text-align: center;

}
.service-sec .col-md-10{
	margin: auto;
}
.service-top h2{
	font-style: italic;
	font-weight: 300;
	font-size: 36px;
	color: #5a5a5a;
	margin-bottom: 20px;
}

.service-top p{
	font-weight: 300;
    font-size: 17px;
    color: #5a5a5a;
    margin-bottom: 20px;
    margin: 0px 100px;
    margin-top: 20px;
}

.service-bottom{
	margin-top: 60px;
}

.service-bottom span{
	display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    border: 1px solid #b1b1b1;
}

.serv-1{
    width: 50%;
    margin-top: 24px;
}

.serv-3{
	width: 35%;
    margin-top: 20px;
}
.service-bottom p{
	font-weight: 500;
    font-size: 15px;
    color: #ed145b;
    margin-top: 20px;
    text-transform: uppercase;
}

/*==================================
quote section code start from here
====================================*/

.quote-sec{
	width: 100%;
	padding: 60px 0px;
	background: url(../img/banner-2.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}

.quote-sec p{
	color: white;
    margin: 20px 272px;
}

/*==================================
pricing section code start from here
====================================*/


.price-sec{
	width: 100%;
	padding: 80px 0px;
	background: #f4f4f4;
	text-align: center;
}

.price-top h2{
	font-style: italic;
	font-weight: 300;
	font-size: 36px;
	color: #5a5a5a;
	margin-bottom: 20px;
}

.price-top p{
	font-weight: 300;
    font-size: 17px;
    color: #5a5a5a;
    margin-bottom: 20px;
    margin: 0px 180px;
    margin-top: 20px;
}

.price-sec-table{
	width: 100%;
	margin-top: 80px;
}
.price-table{
	background: white;
}

.price-table:hover .t-header{
	background: #ed145b;
	transition: 0.9s;
}


.t-header{
	padding: 20px;
    background: #5a5a5a;
    padding-bottom: 38px;
}

.t-header h1{
	font-size: 50px;
    font-weight: 700;
    color: white;
    position: relative;
}

.t-header h1:before{
	position: absolute;
    content: '$';
    font-size: 20px;
    left: 68px;
    bottom: 8px;

}


.t-header p{
	margin-bottom: 0px;
    color: white;
    font-size: 15px;
}

.t-body{
	margin-top: -20px;
}

.t-body button{
	padding: 10px 45px;
    border: none;
    background: #f4f4f4;
    border-radius: 50px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}


.t-body ul{
	margin: 0;
    padding: 0;
    margin-top: 42px;
}

.t-body ul li{
	list-style: none;
    margin-bottom: 10px;
    font-size: 15px;
    color: #6b6b6b;
}



.t-body ul li a{

}

.t-footer{
	margin-top: 25px;
}

.t-footer button{
	padding: 10px 45px;
    border: none;
    background: #ed145b;
    border-radius: 50px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
}


/*==================================
pricing section code start from here
====================================*/

.details-sec{
	width: 100%;
	padding: 100px 0px;
}

.details-sec .col-md-4{
	padding: 0px 20px;
}
.det-part .col-md-2{
	margin: 0px;
    padding: 0px;
}

.det-part .col-md-2 img{
}

.det-part .col-md-10 h6{
	font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ed145b;
}

.det-part .col-md-10 p{
	font-size: 15px;
    margin-right: 20px;
    color: #7d7d7d;
}

/*==================================
join section code start from here
====================================*/

.join-sec{
	width: 100%;
	padding: 40px 0px;
	background: #ed145b;
}

.join-sec h1{
	font-size: 38px;
    color: white;
    margin: 0px;
    font-weight: 300;
    text-transform: uppercase;
}

.join-sec h1 span{
    font-weight: 700;
    margin: 0px 5px;
}

.join-sec .col-md-2{
	margin: auto;
}

.join-sec button{
	padding: 10px 35px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    background: white;
}

/*==================================
lat-updates section code start from here
====================================*/

.lat-updates{
	width: 100%;
	padding: 80px 0px;
	text-align: center;
}

.update-top h2{
	font-style: italic;
	font-weight: 300;
	font-size: 36px;
	color: #5a5a5a;
	margin-bottom: 20px;
}

.update-top p{
	font-weight: 300;
    font-size: 17px;
    color: #5a5a5a;
    margin-bottom: 20px;
    margin: 0px 180px;
    margin-top: 20px;
}


.update-bottom{
	margin-top: 100px;

}

.u-header{
	position: relative;
}
.u-header:before{
	content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 10px;
    background: #ed145b;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    z-index: 9;
}

.u-footer{
	padding: 38px 20px 20px 20px;
	text-align: left;
	background: #f4f4f4;
}

.u-footer h6{
	text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.u-footer p{
	font-size: 15px;
    margin-top: 10px;
}

.row-2{
	margin-top: 80px;
}

.u-header img{
	position: relative;
	z-index: -2;
}
.overlay-eff:hover .bg-overlay{
    background: rgba(232,48,108,0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: 0.8s;

}


/*==================================
show-more section code start from here
====================================*/

.show-more{
	width: 100%;
	padding: 85px 0px;
	background: url(../img/banner-3.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}

.show-more h2{
	font-style: italic;
	font-weight: 300;
	font-size: 36px;
	color: white;
	margin-bottom: 20px;
   
}


.show-more p{
	color: white;
    margin: 20px 114px;
}

.show-more button{
	padding: 10px 35px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    background: #ed145b;
    color: white;
    margin-top: 20px;
}



/*==================================
show-more section code start from here
====================================*/


.down-sec{
	padding: 80px 0px;
	background: #f4f4f4;
}

.down-2{
	margin-top: 30px;
	text-align: left;
	padding-left: 30px;
}

.down-2 h2{
	font-style: italic;
	font-weight: 300;
	font-size: 36px;
	color: black;
	margin-bottom: 20px;
}

.down-2 .banner-line{
	margin: initial;
}

.down-2 p{
	font-weight: 300;
	font-size: 17px;
	color: black;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: justify;
}

.down-sec button{
	padding: 10px 20px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    background: #ed145b;
    color: white;
    margin-top: 15px;
}


/*==================================
footer section code start from here
====================================*/


.footer-sec{
	padding: 30px 0px;
	background: #2b2b2b;
}

.footer-sec p{
	color: white;
    font-size: 16px;
    text-align: center;
    margin: 0px;
}